<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Talkin' Tech: A Tech Blog</title>
  <link rel="stylesheet" href="/stylesheets/style.css">
  <script defer src="https://use.fontawesome.com/releases/v5.3.1/js/all.js"></script>
</head>
<body style="max-height: 100vh; box-style: border-box; margin: 0px; padding; 5px;">
    <header style="background-color: #38302F; padding: 75px; color: white;">
        <nav>
            <div>
                <ul style="list-style: none; display: inline-flex;">
                    <a href="/"><li style="padding-left: 10px;">Home</li></a>
                    <a href="/dashboard"><li style="padding-left: 10px;">Dashboard</li></a>
                    <a href="/signup"><li style="padding-left: 10px;">Signup</li></a>
                    <a href="/login"><li style="padding-left: 10px;">Login</li></a>
                </ul>
            </div>
            <h2 style="color: #38302f; border: 3px solid black; display: inline-block; padding: 7px; border-radius: 7px; 
            background-color: #D1DAD3; box-shadow: 5px 5px #726A69; margin-left: 2.5rem">
            The Tech Blog</h2>
        </nav>
    </header>
    
    <main>

        {{{ body }}}

    </main>
    
    
    <footer style="display: flex; justify-content: center; align-items: center; margin: 10px;">
        <div class="row-is-full content has-text-centered">
            <p>
            <a href="/">homepage</a>{{#if loggedIn}} | 
            <a href="/dashboard/">dashboard</a> | 
            <a href="/dashboard/create/">create new post</a>
            {{else}}
             | <a href="/login/">login</a>
            {{/if}}
            </p>
        </div>

        <div class="row-is-full content has-text-centered">
            <p>
            <strong>Tech Blog</strong> by <a href="https://github.com/abalcs">Alan Balcom</a> | source code:
            <a href="https://github.com/abalcs/tech-blog"><i class="fab fa-github"></i></a> |  
            <a href="mailto:abalcom23@gmail.com"><i class="far fa-envelope"></i></a>
            </p>
        </div>
    </footer>
    
    {{#if loggedIn}}
        <script src="/public/javascript/logout.js"></script>
    {{/if}}


</body>
</html>