<h1 class="ms-4"><strong>Recent Posts</strong></h1>


    {{#each posts as |post|}}
        <div class="card border-success mb-3 ms-4" style="max-width: 50rem;">
            <div class="card-header bg-primary border-success text-white">{{post.title}}</div>
            <div class="card-body text-success">
                {{!-- <h2 >{{post.title}}</h2><hr> --}}
                <p>{{post.post_content}}</p>
            </div>
        </div>
    {{/each}}


