<h1 class="ms-4"><strong>Recent Posts</strong></h1>


    {{#each posts as |post|}}
        {{> post-info post }}
        {{!-- <div class="card border-success mb-3 ms-4" style="max-width: 50rem;">
            <div class="card-header bg-primary border-success text-white">{{post.title}}</div>
            <div class="card-body text-success">
                <p>{{post.post_content}}</p>
            </div>
        </div> --}}
    {{/each}}


